*, *::before, *::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
    overflow-x: hidden;
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 88px;
    font-family: Arial, sans-serif;
    color: #00341f;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}



.cursor {
    display: inline-block;
    animation: blink 2s infinite;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

header {
    background: radial-gradient(circle at top left, #00341F 0%, #004D2A 40%, #0F0F0F 100%);

    margin: 0;
    padding: 20px;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 42px;
    color: whitesmoke;
    border: 8px solid whitesmoke;
    border-radius: 26px;
    padding: 7px;
    margin: 0;
}

nav .nav-links {
    display: flex;
    gap: 20px;   
}

nav a {
    white-space: nowrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: whitesmoke;
    text-decoration: none;
    padding: 20px 10px;
}

.profile-card {
    background-color: whitesmoke;
    border: 5px solid #00341f;
    color: rgb(0, 0, 0);
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    width: 800px;
    font-size: 18px;
    display: inline-block;
    box-shadow: 0 20px 25px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.contact {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.contact a {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: auto;
}

.links {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.links img {
    display: inline-block;
    width: 45px;
    height: 45px;
}

input {
    width: 90%;
    max-width: 400px;
    margin: 20px 0;
    border-radius: 50px;
    padding: 12px;
}

button {
    background-image: linear-gradient(to right, #0f0f0f 0%, #00341f  51%, #e0bf93  100%);
    font-family: Arial;
    margin: 10px;
    padding: 8px 15px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(255, 255, 255);            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

button:hover {
    background-position: right center;
    color: #ffffff;
    text-decoration: none;
}

footer {
    background: radial-gradient(circle at top left, #00341F 0%, #004D2A 40%, #0F0F0F 100%);
    font-size: 32px;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    bottom: 0;
    position: fixed;
}
